.App {
  text-align: center;
}

.todo {
  display: flex;
  flex-direction: column;
  background-color: lightGray;
  margin: 10px;
  padding: 5px;
  border-width: 10px;
  border-color: black
}
.strikethrough {
  text-decoration: line-through;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
